
@{
    bool log = Convert.ToBoolean(TempData["logged"]);
    TempData.Keep("logged");
    if (log)
    {
        Layout = "_EditorLayout";
    }
    else
    {
        Layout = "";
    }

}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OuglaWebApp</title>
    <link href="~/css/bluprintlayoutstyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OuglaWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @{
            if (log==false)
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-route-id="@ViewData["Site"]">@ViewData["Site"]</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="~/@ViewData["Site"]" runat="server">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="~/@ViewData["Site"]/blogs" runat="server">Blogs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                TempData.Keep("ThemeColorCode");
            }
            else
            {
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-route-id="@ViewData["Site"]">@ViewData["Site"]</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="~/@ViewData["Site"]" runat="server">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" href="~/@ViewData["Site"]/blogs" runat="server">Blogs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
        }

    </header>

    <div class="container page-wrap">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="">
            
            <div class="row">
                <div class="navigation-menu col-lg-4 col-md-4 col-xl-4 ">
                    <ul class="nav-links">
                        <li><a>Home</a></li>
                        <li><a>Blogs</a></li>
                    </ul>
                </div>
                <div class="links col-lg-4 col-md-4 col-xl-4 text-center">
                    <img class="iconImg" src="~/images/icons8-twitter-circled-48.png" />
                    <img class="iconImg" src="~/images/icons8-instagram-48.png" />
                    <img class="iconImg" src="~/images/icons8-linkedin-circled-48.png" />
                </div>
                <div class="privacy col-lg-4 col-md-4 col-xl-4 text-center">
                    <p class="privacy-para">
                        If you want to create an Awsome blog site like this without coding, then...
                    </p>
                    <button type="button" id="button" class="btn btn-light" href="~/blogs" runat="server">Sign-Up</button>
                </div>
            </div>
        </div>
    </footer>
    <script>

        document.getElementById('button').onclick = function () {
            window.open("https://localhost:7206");
        };

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
