@model System.Data.DataTable
@{

    Layout = "_BlueprintLayout";
}
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="fw-light">Vertically Centered Masthead Content</h1>
                <p class="lead">A great starter layout for a landing page</p>
            </div>
        </div>
    </div>
</header>

<div class="about-section">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <h2>About Me</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <img src="~/default.png" class="img-fluid" alt="...">
        </div>
    </div>
</div>


<div class="container">
    <h2>My Blogs:</h2>
    <div class="row">
        @{
            if (Convert.ToBoolean(TempData["logged"]))
            {
                for (int i = 0; i < 3; i++)
                {
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/blank.png" class="img-fluid" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Blog @i</h5>
                            <a asp-controller="SiteDisplay" asp-action="displayBlog" asp-route-blogid="" asp-route-title="" class="btn btn-primary">Read Blog</a>
                        </div>
                    </div>
                }
            }
            else
            {
                int count = Model.Rows.Count;
                if (count == 0)
                {
                    <div class="text-center">
                        <p>No Articles yet</p>
                    </div>
                }

                else
                {
                    int iterator = 3;
                    for (int i = 0; i < count; i++)
                    {
                        if (i < iterator)
                        {
                            byte[] Binary = (byte[])(Model.Rows[i]["img"]);
                            string base64string = Convert.ToBase64String(Binary, 0, Binary.Length);
                            var imgSrc = "data:image/jpg;base64," + base64string;

                            <div class="card" style="width: 18rem;">
                                <img src="@imgSrc" class="img-fluid" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Rows[i]["Title"]</h5>
                                    <a asp-controller="SiteDisplay" asp-action="displayBlog" asp-route-blogid="@Model.Rows[i]["BlogId"]" asp-route-title="@Model.Rows[i]["Title"]" class="btn btn-primary">Read Blog</a>
                                </div>
                            </div>
                        }


                    }
                }
            }

          
        }

    </div>
</div>